* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
body {
  /* Fall back order here */
  background: url("/img/top-image.png") top center no-repeat white;

  /* Main backgrounds */
  background: 
    
    url("/img/bottom-image.png") bottom center no-repeat,
    url("/img/top-image.png") top center no-repeat, 
      /* The 0.76 makes it so its not nearly as dark and makes it so its more easily readible*/
    linear-gradient(0deg,rgba(0, 0, 0, 0.76) 1%, rgba(173, 173, 173, 1) 23%, rgba(255, 255, 255, 1) 50%, rgba(173, 173, 173, 1) 77%, rgba(0, 0, 0, .76) 99%),
    white;

  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

h1 {
  /* background img/logo */
  background: url("/img/logo.png") no-repeat center center;

  /* Drop Shadow 1 - Filter*/
  /*filter: drop-shadow(2px 8px 12px black);*/ /*-> I did test and it does work */

  /* Drop Shadow 2 */
  border-radius: 52%; /* Need this for the below shadow */
  box-shadow:2px 8px 12px black;
}